.game
    &__box
        position: absolute
        top: 0
        right: 0
        display: flex
        align-items: center
        height: 100px
        width: 100px
        color: #fff
        background: #bbb
        transition opacity 3s ease
        padding: 10px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

        &-enter
            opacity: 0
            &-active
                opacity: 1

        &-leave
            opacity: 0
